Query encoding wrong?

Originally filed by beauf...@gmail.com on 2009-01-17T16:35:59

Section 3.4 in RFC2396 list this:
[[
    The query component is a string of information to be interpreted by
    the resource.

```
query = *uric

Within a query component, the characters ";", "/", "?", ":", "@",
"&", "=", "+", ",", and "$" are reserved.
```

]]
http://www.ietf.org/rfc/rfc2396.txt

But the as3corelib only encodes these: " %#&="
